{% extends 'base.twig' %}
{% block title %}
  {{ site.name }} - Vous êtes responsable d'établissement
{% endblock %}
{% block contenu %}
  <main role="main" class="home{{termresponsables.slug}}">
  <section class="tester">
    <div class="page">
        <img src="/wp-content/themes/istex/images/ic_Responsable.svg" alt="" class="mobile" style="text-align:center" >
        <h1>{{termresponsables.description}}</h1>

        {% include 'inc/istex-form.twig' %}
    </div>
  </section>
  {% if postssoutenez %}
  <section>
      <header>
        <h2>{{termsoutenez.name}}</h2>
        <p class="soustitre">{{termsoutenez.description}}</p>
			      <p class="button  adherer"><a href="https://adhesion.istex.fr/login">
          <svg class="lien_ext" fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/>
              </svg>Adhérer</a></p>
      </header>
      <div class="deuxcol page">
        {% for post in postssoutenez %}
          <article>
            <h3>{{post.title}}</h3>
            {{post.content}}
            {% if post.url_soutenir %}
              <p class="button"><a href="{{ post.url_soutenir }}">{{ post.nom_du_bouton_soutenir }}</a></p>
            {% endif %}
          </article>
        {% endfor %}
      </div>
  </section>
  {% endif %}
    <section>
        <h2>ISTEX c'est</h2>
        <div class="chiffres maj page" id="istex-nb-docs">
          <p class="encadre conteneur doc">
            <span class="chiffre">{{donneesresponsable.nbdoc}}</span>
            <span class="texteChiffre">documents</span>
            </p>
          <p class="encadre conteneur etab">
            <span class="chiffre">{{donneesresponsable.etablissement}}</span>
            <span class="texteChiffre">établissements</span>
          </p>
          <p class="encadre conteneur corpus">
            <span class="chiffre">{{donneesresponsable.corpus}}</span>
            <span class="texteChiffre">corpus</span>
          </p>
        </div>
    </section>

    <section class="services">
      <header>
        <h2>Les services</h2>
        {% if termservices.description %}
          <p  class="soustitre">{{termservices.description}}</p>
        {% endif %}
      </header>
      <div class="page">
        {% for post in postsservices %}

            {% if post.url_services %}
              <a href="{{ post.url_services }}" class="encadre">
            {% endif %}
            {% if post.thumbnail.src %}
              <img src="{{ post.thumbnail.src( 'post-thumbnail' ) }}"  alt="{{ post.thumbnail.alt }}" />
            {% endif %}
            <h3>{{post.title}}</h3>
            <div class="bas">
              <svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/>
              </svg>
              <span class="maj">Accéder au service</span>
            </div>
            {% if post.url_services %}
              </a>
            {% endif %}

        {% endfor %}
      </div>
    </section>
    <section class="corpus">
      <header>
        <h2>Les corpus</h2>
        <p  class="soustitre">{{corpus.data|length}} corpus actuellement dans Istex</p>
      </header>
      <div class="page">
        {% for item in corpus.data %}
          <a href="/corpus?itemcorpus={{item.data_JP7t}}">
            <div class="encadre">
              <div class="haut">
                <div class="corpusImage">
                  <img src="{{theme.uri}}/images/logos/{{item.data_JP7t}}.png" alt="logo {{item.data_WHZy}} ">
                </div>
                <div class="corpusTitle">
                  {{item.data_WHZy}}
                  <div class="titreEbooks">
                        {% if item.data_68is %}
                        <span class="tiret">{{item.data_68is}} titres&nbsp;</span>
                      {% endif %}
                      {% if item.data_IWa6 %}
                        <span class="tiret">{{item.data_IWa6}} ebooks</span>
                      {% endif %}
                  </div>
                <div class="periodeCorpus">
                    de {{item.data_DDU1}} à {{item.data_dMc5}}
                </div>
                </div>
              </div>
              <div class="bas">
                <svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/>
                </svg>
                <span class="maj">En savoir plus</span>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </section>

    {% if dynamic_sidebar %}
      <section class="lien_page">
        {{ dynamic_sidebar }}
      </section>
    {% endif %}

  </main>
{% endblock %}
